#content{
	width: 90%;
	margin: 0 auto;
	margin-top: 40px;
}
.blank20{
	width: 100%;
	height: 20px;
	clear: both;
}
.blank{
	clear: both;
	height: 50px;
	width: 100%;
}
.section{
	width: 31.334%;
	padding:0 1%;
	float: left;
	text-align: center;
	line-height: 13px;
}
.section .inside_section{
	background-color: white;
	padding: 20px;
}
.section h3{
	margin:10px 0 20px 0;
	color: black;
}
.style{
	margin: 0px;
	color: #c9a96e;
}
.section p{
	margin: 0px;
}
.year{
	color:#c5c5c5;
}
#banner{
	position: relative;
	background: url(../images/bg.jpg) center top / cover no-repeat;
	height: 200px; 
	padding:100px 175px;
}
#banner h1{
	position: relative;
	z-index: 3;
	color: white;
	font-weight: 100;
	font-family: Palatino Linotype;
}
#banner p{
	position: relative;
	z-index: 3;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	color: white;
}
#banner a{
	position: relative;
	z-index: 3;
	color: white;
	padding: 5px 10px;
	background-color: black;
}
.box{
	position: absolute;
	z-index: 1;
}
#box{
	top: 50px;left: 130px;
	border: #c9a96e solid 2px;
	width: 268px;
	height: 296px;
	border-right: none;
}
#box_top{
	top:50px;
	left: 398px;
	width: 2px;
	height: 80px;
	background-color: #c9a96e;
}
#box_bottom{
	width: 2px;
	top: 250px;left: 398px;
	height: 100px;
	background-color: #c9a96e;
}
#menu_bar{
	margin-right: 10px;
	position: relative;
	float: left;
	width: 260px;
}
#menu_bar_title{
	width: 125px;
	height: 30px;
	position: absolute;
	z-index: 1;
	background-color: #e3e3e3;
}
#menu_bar h1{
	margin: 0px;
}
.hr{
	background-color: #c9a96e;
	top:22px;
	width: 100%;
	height: 2px;
	position: absolute;
}
#menu_bar h4{
	height: 20px;
}
#menu_bar .number{
	color:#c5c5c5;
	margin: 0px;
	float: left;
}
#menu_bar .year{
	height: 20px;
}
.bar{
	margin: 0px;
}
#menu_bar_top li{
	border-bottom:#c5c5c5 dashed 1px;
	padding: 10px 0px;
	margin: 5px 0px;
}
#menu_bar_bottom li{
	border-top: #c5c5c5 solid 1px;
	padding: 5px 0;
}
#menu_bar a{
	color: #c9a96e;
}
#menu_bar_2{
	background-color: white;
	position: relative;
	text-align: center;
}
#menu_bar_2 img{
	position: relative;
}
#menu_bar_2_inside{
	background-color: white;
	position: absolute;
	top:130px; left: 25px;
	width: 80%;
}
.blank130{
	height: 150px;
	width: 100%;
}
#middle{
	width: 500px;
	float: left;
}
.middle_section{
	padding: 30px;
	width: 250px;
	position: relative;
	left: 450px;top: -250px;
	text-align: center;
	padding: 10px;
	margin: 0px;
	height: 10px;
}
.middle_section a{
	color: #c9a96e;
}
.inside_middle_section{
	padding: 20px 0px;
	background-color: white;
}
#lastest_vid{
	padding: 20px;
	color: white;
	background-color: black;
	text-align: center;
	clear: both;
}
#videos{
	width: 820px;
	margin: 0 auto;
}
#videos li{
	position: relative;
	width: 195px;
	float: left;
	margin: 0 5px; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.tag{
	display: inline-block;
	height: 14px;
	padding: 3px;
	background-color: #c9a96e;
	font-size: 14px;
	text-align: center;
	color: white;
	margin-bottom: 5px; 
}
.vid_tag{
	width: 100%;
	position: absolute;
	top: 0px;
}
.videos_footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
}
.videos_footer p, h3{
	margin: 3% 0;
}
.sale{
	position: relative;
	text-align: center;
	width: 30.978%;
	float: left;
	padding: 10px 20px;
}
.sale_1{
	padding: 20px 10px 0px 10px;
}
.sale_2{
	padding: 0px 10px 0px 10px;
}
.inside_sale_1{
	padding: 20px 20px 30px 20px;
	background-color: white;
}
.inside_sale_2{
	position: relative;
	background-color: white;
	margin: 0px;
	padding: 40px 20px 60px 20px;
}
.number_2{
	padding-top: 10px; 
	width: 100%;
	border-top: orange solid 2px;
}
.width{
	width: 100%;
	margin-bottom: 40px; 
}
.border{
	padding-bottom: 20px; 
	border-bottom: orange solid 2px;
}
.sale a{
	display: inline-block;
	background-color: black;
	color: white;
	padding: 20px;
}
#most_popular{
	height: 50px;
	width: 50px;
	position: absolute;
	top: -30px;right: 20px;
	color: white;
	padding: 2%;
	background-color: black;
	border-radius: 50%;
}
#most_popular p{
	font-size: 12px;
	margin: 10px 0;
}
.img_hover{
	overflow: hidden;
}
.img_hover:hover img{
	transform:scale(1.2);
	-webkit-transition:all 0.6s ease-out;
}
.product{
	width: 22%;
	margin:0 1% 0 1%;
	float: left;
}
.products{
	position: relative;
	z-index: 2 !important;
	margin-bottom: 20px; 
	text-align: center;
	background-color: white;
}
.price{
	font-family: 'Merriweather';
	color: #C9A96E;
	font-size: 16px;
	text-align: right;
}
.discount{
	color: #C9A96E;
	font-size: 14px;
	text-decoration: line-through;
	color:#c5c5c5;
}
.price_main{
	float: right;
}
.product_type{
	float: left;
}
.blank10{
	clear: both;
	width: 100%;
	height: 10px;
}
.products_main{
	padding: 0 10px;
}
.products_main h3{
	font-weight: 100;
}
.sale_tag{
	font-size: 11px;
	background-color: #C9A96E;
	color: white;
	transform: rotate(-90deg);
	position: absolute;
	top: 10px; left: 0px;
	width: 60px;
	height: 25px;
	z-index: 3;
	line-height: 25px;
}
.sale_tag_after{
	position: absolute;
	background-color: #ba944e;
	transform: rotate(45deg);
	width: 25px;
	height: 25px;
	top: 0px;left: 30px;
	z-index: -1;
}
#shop_now{
	display: inline-block;
	color: #C9A96E;
	padding: 10px;
	border: #C9A96E solid 1px;
}
#quotes{
	text-align: center;
	position: relative;
	padding: 2% 20%;
	font-size: 22px;
	color: #C0A95E;
	border: #C9A96E solid 1px;
}
#quotes_title{
	position: absolute;
	background-color: #e3e3e3;
	width: 6%;
	height: 16%;
	line-height: 0px;
	font-size: 80px;
	padding: 0;
	top:-8%; left: 47%;
	color:#c5c5c5;
}
.quotes_img img{
	border-radius: 50%;
	overflow: hidden;
}
.quotes_name{
	display: inline-block;
	padding: 10px 0;
	color: black;
}
.quotes_name:hover{
	color: #C9A96E;	
}
#our_team{
	border-top: #c5c5c5 double 10px;
	text-align: center;
	position: relative;
	padding-top: 10%;
}
#our_team_title{
	width: 30%;
	position: absolute;
	top: -10%;left:35% ;
	background-color: #e3e3e3;
}
.employees{
	width: 20%;
	padding: 1%;
	padding-top: 30px;
	margin: 0 1%;
	background-color: white;
	float: left;
}
.author{
	padding: 20px;
	border: #C9A96E solid 1px;
}
.icon{
	margin: 0 5px;
	display: inline-block;
	height: 32px;
	width: 32px;
	font-size: 13px;
	line-height: 32px;	
	color: #C9A96E;
	float: left;
	border: #C9A96E solid 2px;
	border-radius: 50%;
}
#icon{
	width: 184px;
	margin: 0 auto;
}
.fb:hover{
	color: blue;
	border-color: blue;
	cursor: pointer;
}
.tw:hover{
	color: lightblue;
	border-color: lightblue;
	cursor: pointer;
}
.in:hover{
	color: blue;
	border-color: blue;
	cursor: pointer;
}
.gg:hover{
	color: red;
	border-color: red;
	cursor: pointer;
}
#footer_main{
	width: 90%;
	margin: 0 auto;
	margin-top: 40px;
}
#footer{
	background-color: black;
}
.part{
	position: relative;
	width: 20%;
	margin: 0 1%;
	float: left;
}
.part #menu_bar_title{
	background-color: black;
	color: white;
}
.inside_part_1{
	float: left;
	width: 46%;
	margin: 0 2%;
}
.inside_part_2{
	position: relative;
}
.aquarter{
	width: 20%;
	margin: 0 1%;
	float: left;
	position: relative;
	overflow: hidden;
	border: black solid 2px;
	border-radius: 10px;
}
.aquarter img{
	position: relative;
	border-radius: 10px;	
}
#footer p,h2{
	color: white;
}
.part a{
	color: white;
}
.part a:hover{
	color: #C9A96E;
}
#footer_last{
	background-color: #111111;
	text-align: center;
}
.employees:hover img{
	transform: scale(1.2);
	-webkit-transition:all 0.6s ease-out;
}
.aquarter:hover img{
	transform: scale(0.95);
	-webkit-transition:all 0.6s;
	cursor: hover;
}
.aquarter:hover{
	-webkit-transition:all 0.6s;
	border: #C9A96E solid 2px;
}