#footer{
	text-align: left;
	font-family: Times New Roman;
	font-size: 10px;
	width: 100%;
	position: absolute;
	top: 600px;
	left: -50px;
	margin: 0px;
	padding: 0px;
}
#footer ul li{
	margin-right: 20px;
	float: left;
}
#footer ul{
	list-style: none;
}
#footer ul li p{
	margin: 0px;
}