@media only screen and (max-width: 768px) and (min-width: 481px){
	#part_1 ul li{
		width: 50%;
		margin: 10px 0;
	}
	.title{
		top: 5%;
		left: 0;
		width: 100%;
		text-align: center;
	}
	#menu{
		top: 10% !important;
		left: 15%;
	}
}
@media only screen and (max-width: 768px){
	.half, #my_skills_main ul li{
		width: 100%;
	}
	#my_services_main ul li{
		width: 100%;
	}
	
	#lastest_news_main ul li, #contact_main li{
		width: 100%;
		margin: 10px 0;
	}
	#message_main{
		width: 90%;
	}
	.half1{
		width: 100%;
		margin-right: 0px;
		margin-left: 0px;  
	}
	.full_100{
		width: 100%;
	}
}
@media only screen and (max-width: 564px){
	.title, #menu{
		display: none;
	}
}
@media only screen and (max-width: 480px){
	#part_1 ul li{
		width: 100%;
		margin: 10px 0;
	}
	#recent_works_main_2 ul li{
		width: 100%;
		margin: 10px 0;
	}
	#recent_works_main_1 ul{
		width: 90%;
	}
}
@media only screen and (max-width: 422px){
	h1{
		font-size: 50px;
	}
	#part_bg{
		font-size: 100px;
		height: auto;
	}
	#part_title{
		line-height: 180px;
	}
}
